<style>
  @import url('https://fonts.googleapis.com/css2?family=Heebo:wght@600&family=Rubik:wght@500&display=swap');
  </style>
  <style>
    @import url('https://fonts.googleapis.com/css2?family=Fredoka:wght@300&display=swap');
    </style>
<ion-header>
  <ion-toolbar color="warning">
    <ion-title>FAQ</ion-title>
    <ion-buttons slot="start">
      <ion-button>
          <ion-back-button defaultHref="home"></ion-back-button>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>


<ion-content color="light" class="ion-padding">
  <div id="faq">
    <ul>
      <li>
        <input type="checkbox" checked>
        <i></i>
        <h2>How can I make the <br> best out of tracking my habits with this app?</h2>
        <p>
          Let's be honest here, the most important thing here is commitment from your side.

        My recommendation would be to start by adding few habits you would like to form and make sure to do them at least once a day.
        </p>
      </li>

      <li>
        <input type="checkbox" checked>
        <i></i>
        <h2>How is this app going <br> to help me achieve my goals?</h2>
        <p>This app helps you by giving you a visual representation of your progress, and also motivates you to act everyday. 
        </p>
      </li>

      <li>
        <input type="checkbox" checked>
        <i></i>
        <h2>Are there any features in this app?</h2>
        <p>Yes, there is one feature in this app where you can track your habits.</p>
      </li>
    </ul>
  </div>
</ion-content>