<style>
  @import url('https://fonts.googleapis.com/css2?family=Heebo:wght@600&family=Rubik:wght@500&display=swap');
  </style>
<ion-header class="ion-no-border">
  <ion-toolbar color=warning class="ion-text-center">
    <ion-title style="font-weight: 600;font-size: 15px;" color="dark" class="header">About us</ion-title>
    <ion-buttons slot="start">
      <ion-back-button defaulthref="discover" text=""></ion-back-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">

  <ion-card color="warning">
   
      <img  class="profile-photo" src="assets/inspiro/about.png" >
    
  
    <ion-card-content>
      <ion-text>An application that is created to help others track their habits, build a positive mind and lifestyle in their life. At a glance this app makes it easy
        to see which habits you are doing good and which ones you need to keep pushing yourself more. This app also has all the information you need to fill your day with healthy habits, positivity, love yourself and surrounding. 
      </ion-text>
    </ion-card-content>
  </ion-card>
      
</ion-content>