

ion-card{
    width: 100%;
    box-shadow: none;
    border-radius: 12px;
    height: 80%;
    
    

    img{
        object-fit: cover;
        width:100%;
        transform: scale(1, 1) rotate(1deg);
       transition: 600ms all ease-in-out;
       
    }
}

ion-tab-button.tab-selected {
    color: var(--ion-color-secondary) !important;
    background: var(--ion-color-primary) !important;
  }


ion-slides {
    height: 90%;
    --bullet-background-active: rgb(31, 34, 37);
    --bullet-background: #000;
}

.swiper-slide-active {
    transform: scale(1.05,1.05);

    ion-card{
        img {
            transform: scale(1,1);
        }
    }
}

.swiper-slide{
    transition: 400ms all ease-in-out;
}